h1(class="navTitle padBot") 
    a(href='/') Bangazon Shopping
    div(class="row")
    ul(class="nav navbar fixed-top")
        li(class="nav-item col-md-2") 
            a(class="nav-link active" href="/categories") Categories
        li(class="nav-item col-md-2")
            a(class="nav-link" href="/products") Product Search
        if session.passport
            li(class="nav-item col-md-2")
                a(class="nav-link" href="/product/create") Sell a Product
        li(class="nav-item col-md-2")
            a(class="nav-link" href="/user/:id") My Settings
        li(class="nav-item col-md-2")
            a(class="nav-link" href="/user/:id") View Cart
        li(class="nav-item col-md-2")
            a(class="nav-link" href="/login") Login
        li(class="nav-item col-md-2")
            a(class="nav-link" href="/register") Register    
        if session.passport
            span #{session.passport.user.first_name}
            form(method="POST")
                button(type="submit" formaction="/logout") logout
