div(class="row")
    nav(class="nav navbar fixed-top")
        div(class="col-md-4")
                a(class="nav-link active" href="/categories") Categories
                a(class="nav-link" href="/products") All Products
        div(class="col-md-4")
                form
                    input(type="text" placeholder="Search for a prouct" name="search")
                    button(class="nav-link" formaction="/products") SEARCH
        div(class="col-md-4")
            if !session.passport
                a(class="nav-link active" href="/login") Login
                a(class="nav-link active" href="/register") Register    
            if session.passport
                a(class="nav-link" href="/order") View Cart
                a(class="nav-link active" href="products/create") Sell
                span Welcome, #{session.passport.user.first_name}!
                form(method="POST")
                    button(class="logout" type="submit" formaction="/logout") logout
