extends index.pug

block content
    <br>
    h1 Categories
        
    ul
        each category in categories
            h1 #{category.name} (#{category.Products.length})
            each product in category.Products
                li= product.name
            


//- show categories with 1st 3 products in category and count of the # of products in it