extends index.pug

block content

    .createProd
        form(method='POST', action=`/products`)

            label(for="productCategory") Product Category:
            select(name="productCategory", required)

                option
                each cat in cats
                    option #{cat.name}
            br
            label(for="name") Name: 
            input(type="string", name="name", required)
            br
            label(for="price") Price:
            input(type="number", step="0.01" name="price", required)
            br
            label(for="description") Description: 
            input(type="string", name="description", required)
            br
            label(for="quantity_avail") Quantity:
            input(type="number", name="quantity_avail", required)

            button(type="submit") Submit