extends index.pug

block content

    ul(id="detailProd")
        li(class="singleProdList" value= id) Name: #{name}<br>Description: #{description}<br> Quantity Available: #{quantity_avail}<br> Price: $#{price}

    button(type="submit" id="addToCart") Add To Cart