extends index.pug

block content
    .productList
      h1 Products
        div(class="row productItems")
            each product in prods
                div(class="col-md-3 productItem")
                    h2 #{product.name}
                    h3 $#{product.price}
                    h6 #{product.description}
                    h3 available: #{product.quantity_avail}
                    if session.passport
                        a(class="seemore" href="/products/"+product.id) see more
                        <br>
            
                


